.charCard {
  max-width: 290px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #000;
  transition: 0.5s;
}
.charCard:hover {
  transform: translateY(-1px);
  filter: saturate(150%);
}
.charCard h2 {
  max-width: 150px;
  width: 100%;
  color: #3f2518;
}
.charCard p {
  text-align: left;
}
